* {
    margin-right: 0%;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear:both;
}

body {
    font-family: sans-serif;
}





h1 {
	display: inline;
	font: Sans-Serif;
    letter-spacing: 16px;
	color: palevioletred;
    font-size: 111px; 
    text-shadow: 9px -9px 0pt rgba(0, 0, 255, 0.5);
}

.title {
    text-align: center;
    padding: 0px;
    width: 90%;
    margin: auto;
    float: center;
    
    border-style: double; 
    border-width: 10px;
    border-color: palevioletred;
    
    padding: 5px;
}




h2 {
    color: rgba(255, 0, 0, 0.5); 
    font-size: 55px; 
    text-shadow: 4px -3px 0pt rgba(0, 0, 255, 0.5);
}



.paragraph {
    
   padding: 0px;
    width: 90%;
    height: auto;
    margin: auto;
}

.main-text2 {
    
    font-family: serif;
    font-size: 17px;
    color: palevioletred;
    text-align: justify;
    
    border-style: double; 
    border-width: 10px;
    border-color: palevioletred;
    
    padding: 11px;
}









p {
    font-size: 18px;
    color: blueviolet;
    text-align: justify;
    float: center;
}







.author-text {
    float: none;
    margin-bottom: 50px;
    margin-top: 200px;
    margin-right: 250px;
    margin-left: 30px;
}


.other-posts {
    width: 33.33%;
    padding-right: 10px;
    float: right;
    margin-right: 33px;
    margin-top: 0;
    position: relative;
    text-align: right;
    
}




.video {
    margin: auto;
    float: center;
    padding: 0;
    width: 90%;
}

.video2 {
    margin: auto;
    float: center;
    padding: 0;
    width: 90%;
}



.author-box {
    background-color: clear;
    width: 1140;
    padding-top: 20px;
    text-align: center;
    margin-top: 50px;
}


.author-box img {
    height: 200px;
    width: 500px;
    border-radius: 50%;
    float: left;
    margin: 5 5 5 5;
}





.links {
    padding: 0px;
    width: 90%;
    height: auto;
    margin: auto;
}
  
.main-text {
    text-align: center;
    color: palevioletred;
    font-size: 44px; 
    text-shadow: 5px -3px 0pt rgba(0, 0, 255, 0.5);
   
    letter-spacing: 3px;
    
    border-style: double; 
    border-width: 10px;
    border-color: palevioletred;
    
    padding: 0px;
    
    margin-top: 11px;
    margin-bottom: 11px;

}

a:link, a:visited {
    background-color: black;
    color: palevioletred;
    padding: 10px 5px;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: palevioletred;
}








.image {
    position: relative;
    width: 90%;
    margin: auto;
    float: center;
}







.sounds {
    margin: auto;
    float: center;
    padding: 0;
    width: 90%;
}
